.container {
    border: 1 px solid #cccccc;
    box-shadow: 10px 10px 30px 0px black;
    border-radius: 20px;
    margin-bottom: 50px;
    position: absolute;
    top: 55% ;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
    
}
.button {
    height: 60px;
    padding: 2px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    border: 1px solid #c4c4c4;
    background: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50% black);
    text-shadow: 0 1px gray;
}
.button :hover{
    background-color: lightgray;
}
.operator {
    color: #fff;
    background-color: aquamarine;
}
.clear{
    border-radius: 50px;
    border: 2px solid rgb(77, 75, 75);
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    width: 80px;
    margin-left: 25px;
    margin-right: 65px;
    width: 75%;
    height: 60px;
    padding: 5px;
    transition: 1.6s ease-in-out;
}
.clear:hover{
    background:linear-gradient(#c4c4c4,#926363);
}
.equal-sign {
    background-color: lightcoral;
    border-color: lightcoral;
    color: #fff;
}
.equal-sign:hover {
    background-color: aquamarine;
}

.screen {
    background-color: #fff;
    justify-content: left;
    color: black;
    font-size: 1.5rem; 
    font-weight: 600;
    width: 90%; 
    height: 50px; 
    cursor: pointer;
    padding: 10px;
    padding-left: 10px; 
    border-radius: 10px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: right;
}